# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo Hello, world!

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.

    - name: Checkout
      run: git branch temp && git checkout temp

    - name: Checkout back
      run: git checkout master

    - name: Get remote origin
      run: git remote get-url origin

    - name: Set remote origin
      env:
        OTHER_GIT: https://github.com/shiftyhead/squash_check.git
      run: git remote set-url origin $OTHER_GIT

    - name: Config
      env:
        GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
        GIT_USER: ${{ secrets.GIT_USER }}
        GIT_PASS: ${{ secrets.GIT_PASS }}
      run: git config --global user.email $GIT_EMAIL && git config --global user.name $GIT_USER

    - name: Check remote origin
      run: git remote -v

#    - name: Reset
#      run: git reset origin/master

    - name: Merge
      run: git merge temp

    - name: Add
      run: git add . --all

    - name: Commit
      run: git commit

    - name: Push
      run: git push
#
#        ,
#        git pull,
#        git reset origin/master,
#        git add . --all,
#        git commit,
#        git push.
